<html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>

    <body>

        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <h1>Studierendenstatistikauswertung</h1>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Inland Frauen</th>
                        <th>Inland Männer</th>
                        <th>Geschlechterdifferenz</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in formatted_result %}
                    <tr>
                        <td class="text-end">{{ entry['datum'] }}</td>
                        <td class="text-end">{{ entry['inland_maenner'] }}</td>
                        <td class="text-end">{{ entry['inland_frauen'] }}</td>
                        <td class="text-end">{{ entry['inland_maenner'] - entry['inland_frauen'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>
