<html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>

    <body>
        <h1>Bruecken</h1>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Bezirk</th>
            </tr>
            {% for entry in formatted_result %}
            <tr>
                <td>{{ entry['name'] }}</td>
                <td>{{ entry['bezirk'] }}</td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>
